<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard</title>
      <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/main.css') }}">
   </head>
   <body>
      <!-- Form-->
      <div class="form">
         <nav class="navbar">
            <div class="logo">Up Books</div>
            <ul class="nav-links">
               <div class="menu">
                  <li style="list-style: none"><a href="/logout">Signout</a></li>
               </div>
            </ul>
         </nav>
         <div class="form-panel one">
            <div>
               <div class="row">
                  <div>
                     <div style="display: flex; flex-direction: column; align-items: center;">
                        <img width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <span>Welcome {{ email }}!</span>
                     </div>
                  </div>
                  <div>
                     <div>
                        <div>
                           <h4 class="text-right">My Uploaded Books</h4>
                        </div>
                        <div class="mybook-box">
                           <table class="styled-book-table">
                              <thead>
                                 <tr>
                                    <th>File Name</th>
                                    <th>Uploaded Date</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for row in user_books %}
                                 <tr>
                                    <td> {{ row[1][37:-4] }} </td>
                                    <td> {{ row[2].strftime('%d-%b-%Y') }} </td>
                                 </tr>
                                 {% for id in books_data %}
                                 {% if row[0] == id[0] %}
                                 <ul>
                                    <li>Book Title : {{ id[1] }}</li>
                                    <li>Book Author: {{ id[2] }}</li>
                                    <li>Book Publisher Name: {{ id[3] }}</li>
                                    <li>Book Publisher Date: {{ id[4] }}</li>
                                 </ul>
                                 {% endif %}
                                 {% endfor %}
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <hr class="rounded">
                        <div class="csv-box">
                           <p style="color: red"> {{ message }} </p>
                           <p>If you want to add another book</p>
                           <p>Please make sure you upload a csv file in the following format:</p>
                           <ul>
                              <li>Book Title</li>
                              <li>Book Author</li>
                              <li>Date Published</li>
                              <li>Valid ISBN</li>
                              <li>Publisher Name</li>
                           </ul>
                        </div>
                        <div class="form-content" style="display: flex; padding: 20px; justify-content: center;">
                           <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                              <input type="file" id="myFile" name="uploaded-file" accept=".csv">
                              <input type="submit" value="Upload file">
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </body>
</html>